@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

body {
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 0px;
    padding: 0px;
    text-align: center;
 background-image: url(989.png);
}

.something {
    margin-top: 400px;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 25px;
    text-align: center;
}

.b {
    font-size: 60px;
    font-style: bold;
    font-family: 'Baloo Bhaina 2', cursive;
}

.x {

    font-size: 60px;
}

.classx2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.bbbb {
    font-size: 60px;
}

.rm {
    font-size: 60px;
}

.pxh {
     font-size: 60px;
}

.pxd {
     font-size: 25px;
}

.mih {
     font-size: 60px;
}

.lih {
     font-size: 60px;
}