@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

body {
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}

.something {
    margin-top: 400px;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 25px;
    text-align: center;
}

.b {
    font-size: 30px;
    font-family: 'Baloo Bhaina 2', cursive;
}